@{
    var newsOnTops = (List<NewsOnTop>?)ViewData["newsOnTops"];
    var product = (Product)ViewBag.NewProduct;
}

<section class="hero-area">
    <div class="container">
        <div class="custom-padding-right">
            <div class="slider-head">
                <!-- Start Hero Slider -->
                <div class="hero-slider">
                    <!-- Start Single Slider -->
                    @if (newsOnTops != null)
                    {
                        @foreach (var item in newsOnTops)
                        {
                            <div class="single-slider" style="background-image: url('./images/news/poster.png');">
                                <div class="content p-5">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h2>
                                                <span>@item.SubHeader</span>
                                                @item.Header
                                            </h2>
                                            <p>
                                                @item.Content
                                            </p>
                                            <h3><span>Giá tiền</span>@($"{item.Price:#,##0}đ")</h3>
                                            <div class="button">
                                                <a asp-controller="Products" asp-action="Index" class="btn">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="col mt-3 d-flex justify-content-center">
                                            <img style="right: 0;" src="~/images/news/@item.Image" width="300px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="single-slider" style="background-image: url('./images/news/poster.png');">
                            <div class="content p-5">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <h2>
                                            <span>Không xác định</span>
                                            Không xác định
                                        </h2>
                                        <p>
                                            Chưa có tin nổi bật nào được tạo.
                                        </p>
                                        <h3><span>Giá tiền</span> Không xác định</h3>
                                        <div class="button">
                                            <a asp-action="Index" class="btn">Shop Now</a>
                                        </div>
                                    </div>
                                    <div class="col mt-3 d-flex justify-content-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- End Hero Slider -->
            </div>
        </div>
    </div>
</section>