<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #ccc; font-size: 15px; line-height: 30px; ">
    <div style="background-color: #fff; height: 100%; width: 600px; text-align:center; margin: 0 25%;">
        <header style="flex: 0.5; width: 100%; background-color: #c3c79b;">
            <img src="https://localhost:7060/logo-text.png" style="background-image: url('logo-text.png'); width: 210px; margin-top: 15px;" alt="SmartShopping">
        </header>
        <div style="height: 1px; width: 100%; background-color: black; position: relative;"></div>
        <div style="flex: 3; padding: 15px; text-align: justify;">
            <h2>Xác thực tài khoản</h2>
            <p>Dear, {{name}} !</p>
            <p>Bạn cũng có thể ấn vào đây để xác thực tài khoản: <a href="{{link}}">Xác minh tài khoản</a></p>
        </div>
        <footer style="flex: 0.2; position: relative;">
            <div style="height: 1px; width: 100%; background-color: black; position: relative;"></div>
            <p style="text-align: center; width: 100%; margin: 10px 0;"><b>© 2024 nhtshop.vn, All Rights Reserved.</b></p>
        </footer>
    </div>
</body>

</html>