@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div id="edit" class="card">
    <div class="card-body">
        <div class="mb-6 mt-6">
            <h4 class="mb-4">Đổi mật khẩu</h4>
        </div>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3 row">
                <label class="col-sm-4 form-label" style="align-content: center;margin-bottom: 38px;" for="currentPassword">Mật khẩu hiện tại</label>
                <div class="col-md-8 col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 form-label" style="align-content: center;margin-bottom: 38px;" for="newPassword">Mật khẩu mới</label>
                <div class="col-md-8 col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="align-items-center row">
                <label class="col-sm-4 form-label" style="align-content: center;margin-bottom: 38px;" for="confirmNewpassword">
                    Xác nhận mật khẩu
                </label>
                <div class="col-md-8 col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-4 col-md-8 col-12 offset-md-4">
                    <h6 class="mb-1">Password requirements:</h6>
                    <p>Ensure that these requirements are met:</p>
                    <ul>
                        <li> Minimum 8 characters long the more, the better</li>
                        <li>At least one lowercase character</li>
                        <li>At least one uppercase character</li>
                        <li>At least one number, symbol, or whitespace character</li>
                    </ul>
                    <button type="submit" class="btn btn-primary" fdprocessedid="2w8w7">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    ul {
        list-style-type: disc;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 2rem;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
