@model AppleStore.Models.Entities.Product

@{
    ViewData["Title"] = "Thêm sản phẩm";
}

<h5 class="card-title fw-semibold mb-4 d-inline-block">THÊM SẢN PHẨM</h5>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-3 col-xs-3 col-md-3">
            <div class="card">
                <div class="card-header bg-body-secondary">
                    <h6 class="mb-0">
                        <label class="form-label" asp-for="Avatar"></label>
                    </h6>
                </div>
                <div class="card-body p-2">
                    <div class="ratio ratio-1x1 bg-body-secondary">
                        <img class="object-fit-cover" id="previewImage" />
                    </div>
                    <input type="file" class="form-control mt-3" asp-for="Avatar" id="imageInput" required />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label" asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" required />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Category"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control" required>
                    <option disabled selected>- Select Category -</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Danh sách mã giảm giá</label>
                <select asp-for="DiscountId" class="form-control" asp-items="ViewBag.Discounts" class="form-select">
                    <option value="" selected>Không chọn</option>
                </select>
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" asp-for="Display" />
                <label class="form-check-label" asp-for="Display"></label>
            </div>
            
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a asp-action="Index" class="btn btn-secondary">Trở về</a>
        </div>
    </div>
    <textarea asp-for="Description" class="summernote"></textarea>
    <div class="form-floating mt-4">
        <div class="card">
            <div class="card-header bg-body-secondary">
                <h6 class="mb-0">
                    <label class="form-label" asp-for="ProductImages"></label>
                </h6>
            </div>
            <div class="card-body row">
                <input type="file" class="form-control mt-3 image-input" asp-for="ProductImages" multiple />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        document.querySelector('#imageInput').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector('#previewImage').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
        document.querySelectorAll('.image-input').forEach(input => {
            let files = [];
            input.addEventListener('change', async function (event) {
                for (const file of event.target.files) {
                    files.push(file);
                    await new Promise(resolve => {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            const img = document.createElement('img');
                            img.src = e.target.result;
                            img.alt = file.name;
                            img.classList.add('object-fit-cover', 'preview-image');

                            const div = document.createElement('div');
                            div.classList.add('ratio', 'ratio-1x1', 'me-3', 'mb-3');
                            div.style.width = '195px';
                            div.style.position = 'relative';
                            div.appendChild(img);

                            const formFloating = document.createElement('div');
                            formFloating.classList.add('form-floating');
                            div.appendChild(formFloating);

                            const button = document.createElement('button');
                            button.classList.add('d-flex', 'align-items-center', 'justify-content-center');
                            button.style.position = 'absolute';
                            button.style.top = '3px';
                            button.style.right = '3px';
                            button.style.width = '20px';
                            button.style.height = '20px';
                            button.style.borderRadius = '3px';
                            button.addEventListener('click', function () {
                                div.remove();
                                files = files.filter(f => f !== file);
                                const dataTransfer = new DataTransfer();
                                files.forEach(f => dataTransfer.items.add(f));
                                input.files = dataTransfer.files;
                            });
                            formFloating.appendChild(button);

                            const iconClose = document.createElement('i');
                            iconClose.classList.add('ti', 'ti-close',);
                            iconClose.style.fontSize = '8px';
                            button.appendChild(iconClose);

                            input.parentElement.insertBefore(div, input);

                            resolve();
                        };
                        reader.readAsDataURL(file);
                    });
                }
                const dataTransfer = new DataTransfer();
                files.forEach(f => dataTransfer.items.add(f));
                input.files = dataTransfer.files;
            });
        });
    </script>
}