@model AppleStore.Models.Entities.Category

@{
    ViewData["Title"] = "Thêm mới danh mục";
}

<h5 class="card-title fw-semibold mb-4 d-inline-block">THÊM DANH MỤC</h5>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label for="disabledSelect" class="form-label">Danh sách mã giảm giá</label>
        <select asp-for="DiscountId" class="form-control" asp-items="ViewBag.Discounts" class="form-select">
            <option value="" selected>Không chọn</option>
        </select>
    </div>
    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" asp-for="Display" />
        <label class="form-check-label" asp-for="Display"></label>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</form>