@model AppleStore.Models.Entities.ProductAttribute

@{
    ViewData["Title"] = "Create";
}

<h5 class="card-title fw-semibold mb-4 d-inline-block">THÊM THUỘC TÍNH</h5>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" placeholder="Mô tả" asp-for="Description" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</form>