@using AppleStore.Models.Entities.Google;

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Shopping - @ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/png" href="~/logo.png" />
    <link rel="stylesheet" href="~/adminAssets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function redirectPage(token, from) {
            var url = new URL(window.location.href);
            url.searchParams.set('access_token', token);
            url.searchParams.set('from', from);
            window.location.href = url.href;
        }
        window.onload = function () {
            google.accounts.id.initialize({
                client_id: "@LoginGoogle.IDClientGoogle",
                callback: function (response) {
                    console.log('Welcome from GG! Fetching your information...');
                    redirectPage(response.credential, 'google');
                }
            });

            google.accounts.id.renderButton(
                document.getElementById("btnGoogle"),
                { theme: "outline", size: "large", text: "signin_with", width: "400", }
            );
        }
    </script>
    <script src="~/adminAssets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/adminAssets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>