@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="col-md-8 col-lg-6 col-xxl-4">
    <div class="card mb-0">
        <div class="card-body">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-nowrap logo-img text-center d-block py-3 pb-1 w-100">
                <img src="~/logo-text.png" width="180" alt="">
            </a>
            <p class="text-center">Innovate Your Life with Our Tech Solutions</p>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input type="email" class="form-control" asp-for="Input.Email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label asp-for="Input.FullName" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Input.FullName" aria-describedby="textHelp">
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input type="password" class="form-control" asp-for="Input.Password">
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input type="password" class="form-control" asp-for="Input.ConfirmPassword">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Birthdate" class="col-md-2 col-form-label"></label>
                    <input asp-for="Input.Birthdate" class="form-control" type="date" value="" />
                </div>
                <div class="form-floating">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control">
                        <option disabled selected>- Select Role -</option>
                    </select>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Input.Gender" class="form-label"></label>
                        <div class="form-floating d-flex">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Input.Gender" id="male" value="true" checked />
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Input.Gender" id="female" value="false" />
                                <label class="form-check-label">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" asp-area="Identity" asp-controller="Account" asp-action="Login">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</div>
